<body>
<h1 class="new_title">ようこそ
<strong>Bookers</strong>
へ！</h1>

<div class="new_body">
  <p class="new_content"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
  <p class="new_content">印象を共有し交換することができます</p>
</div>


<div class="new_start">
  <%= link_to "start", "/books" %>
</div>
</body>